<div class="container mt-5 mb-5">
  <h1>Контакты</h1>
  <form class="col-lg-8">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Введите имя" >
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Введите фамилию" >
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Введите адресс эл.почты" >
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Введите номер телефона" >
      </div>
      <div class="col-lg-12">
        <button class="btn btn-md btn-dark">Отправить</button>
      </div>



    </div>
  </form>
</div>
