<div class="container mt-5 mb-5 ">

  <h1 class="text-center">О нас</h1>

  <p>МИССИЯ КОМПАНИИ
        <br/>

    Миссия компании — быть для наших потребителей надежным соседом, которому можно доверять.

    Love Food — это местный сервис с самым лучшим предложением ассортимента блюд повседневной необходимости. Мы всегда находимся рядом с потребителями, предоставляем качественные услуги, предлагаем оптимальные цены и создаем приятную атмосферу.

    Мы вносим свой вклад в поддержку и развитие местной экономики, продвигая на рынке продукцию отечественных производителей.

    Мы постоянно инвестируем ресурсы в профессиональный рост наших сотрудников, чтобы всегда быть в числе лучших работодателей.

    Важным элементом миссии компании является участие в социальной жизни общества, посредством прямых вкладов в ее развитие.
    <br/>
  </p>

</div>
